body {}

.navigation {
	float: left;
	height: 100%;
	padding: 1.1em 1.9em 1em 1.1em;
}
.logo {
	margin-bottom: 2em;
}
.navigation a 
{
	display: block;
	text-decoration: none;
	color: black;
	line-height: 1.8em;
}

.slideshow {
	float: left;
	background-color: blue;
	height: 100%;
}