body {
	overflow-x: scroll;
	overflow-y: hidden;
}
.navigation {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	background-color: white;
	padding: 1.1em 1.9em 1em 1.1em;
	z-index: 10;
}
.navigation .logo {
	margin-bottom: 2em;
}
.navigation a 
{
	display: block;
	text-decoration: none;
	color: black;
	line-height: 1.8em;
}

.slideshow {
	background-color: blue;
	white-space: nowrap;
	float: left;
	margin-left: 15em;
}
.slideshow img {
	float: left;
}